doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/style.css")
        title Proyecto Final
    body 
        .main-container
            .login-container
                .login-left-side
                    .login-left-side-container 
                        .title-container
                            h1 PRESENTAMOS 
                        .subtitle-container 
                            p Nuestro Semestral 
                            p Desarrollo de Software IX
                        .group-container 
                            p Por: 
                            p Brown, Roberto 
                            p Lam, Angel
                .login-right-side
                    .login-right-side-container 
                        .title-login
                            h1 LOGIN          
                        form.form-container#form-login(action="")
                            .input-container
                                label(for="email")#labelEmail Correo
                                br
                                input(type="text", name="email" placeholder="Correo")#inputEmail
                                br
                            .input-container
                                label(for="password")#labelPass Contraseña
                                br
                                input(type="password", name="password" placeholder="Contraseña")#inputPass
                                br
                            .button-container 
                                button(type="submit") Ingresar
            .items-container
                header 
                    img(src="/static/img/logout.svg", alt="logout")#logout.logout
                    h1 NUESTROS PRODUCTOS
                    img(src="/static/img/cart.svg", alt="cart")#goToCart
                .items-list
            .cart-container
                header
                    img(src="/static/img/back.svg", alt="back")#back 
                    h1 CARRITO
                    .empty-div
                .cart-section
                    .cart-list
                    .cart-total#cartTotalSection
                        .cart-total-container 
                            .checkout 
                                h1#cartTotal Total: $0
                                .product-actions#productActions 
                                    #paypal-button-container
                            .buying-image           
                                img(src="/static/img/buying.svg") 

    script(src="/static/js/app.js") 
    script(src="https://www.paypal.com/sdk/js?client-id=Abcm2u_F8ERDOtTaLXv3Jircn2AN77iqyHUTBR7qPdnQVZSZE_LFMDRvl-bZk9FHr5AqoAJwuRAuj_vH")
        
